Source: catalogue
Section: misc
Priority: optional
Maintainer: Igor B. Poretsky <poretsky@mlbox.ru>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.9.3

Package: catalogue
Architecture: all
Depends: edb, emacs | emacsen, ${misc:Depends}
Recommends: libcdio-utils, eject
Suggests: cdtool
Description: Media collection catalogue
 The main purpose of this package is to keep and manage simple media
 collection catalogue providing easy data access and control means from
 within Emacs. Initially it was designed for keeping CD/DVD collection,
 but nothing prevents it from using with another content, such as paper
 books or something else. Nevertheless, there is an extra advantage
 especially for CD and DVD, since these media types can be
 automatically identified and recognized being put into the drive.
